# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.bak

# Precompiled Headers
#*.gch
#*.pch

# Compiled Dynamic libraries
*.so
*.dylib


# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a


# Executables
*.exe
*.out
*.app

# Logfile
*.log
*.lot

# Ignore folder
__history/
Win32/
Logs/
Logs by LOT/
.svn/
Debug/
Release/

# Ignore file
*.ldb
*.local
*.~dsk
*.tds
*.vlb
*.mdb
*.map
*.zip
